{erl_opts, [debug_info]}.

{plugins, [
  {rebar3_elixir_compile, {git, "https://github.com/barrel-db/rebar3_elixir_compile.git", {branch, "master"}}}
]}.

{deps, [
  {nebulex, {elixir, "nebulex" ,"1.0.0-rc.3"}},
  {ex_shards, {elixir, "ex_shards" ,"0.2.1"}},
  {shards, "0.5.0"}
]}.

{provider_hooks, [
  {pre, [{compile, {ex, compile}}]}
]}.

{elixir_opts, [
  {env, dev}
]}.

{shell, [{apps, [erlang_cache]}]}.
