{mode, max}.

{duration, 5}.

{concurrent, 8}.

{driver, 'Elixir.NebulexBench.Bench'}.

{operations, [
  {set, 1},
  {get, 1},
  {del, 1},
  {pop, 1},
  {get_and_update, 1},
  {update, 1},
  {update_counter, 1}
]}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 1000}}}.

{value_generator, {fixed_bin, 100000}}.
